<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SDM Endpoint</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-2 mb-2">
            {% block content %}{% endblock %}

            <div class="mt-2">
                <div class="alert alert-info">
                    Source code: <a href="https://github.com/icedevml/sdm-backend">https://github.com/icedevml/sdm-backend</a>
                </div>

                <div class="alert alert-success">
                    Do you want to use NFC technology in your project? Not sure how to do it? Send me an email: <a href="mailto:ml@icedev.pl">ml@icedev.pl</a>
                </div>
            </div>
        </div>
    </body>
</html>
