<html lang="en">
<head>
    <title>SDM Endpoint</title>
</head>
<body>
<h1>Secure Dynamic Messaging Backend Server Example</h1>
<p>Some of the examples below were taken from <a href="https://www.nxp.com/docs/en/application-note/AN12196.pdf">AN12196: "NTAG 424 DNA and NTAG 424 DNA TagTamper features and
hints"</a></p>
<ul>
    <li><strong>NTAG 424 DNA:</strong> Plaintext tag UID, read counter mirroring with SDMMAC (CMAC)<br>
        <a href="/tagpt?uid=041E3C8A2D6B80&ctr=000006&cmac=4B00064004B0B3D3">
        <code>/tagpt?uid=041E3C8A2D6B80&ctr=000006&cmac=4B00064004B0B3D3</code>
    </a></li>
    <li><strong>NTAG 424 DNA:</strong> Encrypted PICC Data mirroring with SDMMAC (CMAC)<br>
        <a href="/tag?picc_data=EF963FF7828658A599F3041510671E88&cmac=94EED9EE65337086">
        <code>/tag?picc_data=EF963FF7828658A599F3041510671E88&cmac=94EED9EE65337086</code>
    </a></li>
    <li><strong>NTAG 424 DNA:</strong> Encrypted PICC Data mirroring with additional SDMFileData and SDMMAC (CMAC)<br>
        <a href="/tag?picc_data=FD91EC264309878BE6345CBE53BADF40&enc=CEE9A53E3E463EF1F459635736738962&cmac=ECC1E7F6C6C73BF6">
        <code>/tag?picc_data=FD91EC264309878BE6345CBE53BADF40&enc=CEE9A53E3E463EF1F459635736738962&cmac=ECC1E7F6C6C73BF6</code>
    </a></li>
    <li><strong>NTAG 424 DNA TagTamper:</strong> Encrypted PICC Data mirroring with additional SDMFileData and SDMMAC (CMAC); TagTamper enabled and with TTStatusOffset = ENCDataOffset<br>
        <a href="/tagtt?picc_data=FDD387BF32A33A7C40CF259675B3A1E2&enc=EA050C282D8E9043E28F7A171464D697&cmac=758110182134ECE9">
        <code>/tagtt?picc_data=FDD387BF32A33A7C40CF259675B3A1E2&enc=EA050C282D8E9043E28F7A171464D697&cmac=758110182134ECE9</code>
    </a></li>
</ul>

<h2>WebNFC Example</h2>
<p>Chrome for Android supports NDEF scanning directly through JavaScript (since release 89). You can try it out here:</p>

<button id="scanBtn">Start scan</button>

<div id="scanResult"></div>

<script>
  log = alert;
  var scanBtn = document.getElementById('scanBtn');

  scanBtn.addEventListener("click", async () => {
  try {
    const ndef = new NDEFReader();
    await ndef.scan();
    scanBtn.innerText = "Please tap the tag...";
    scanBtn.setAttribute('disabled', 'disabled');

    ndef.addEventListener("readingerror", () => {
      log("Argh! Cannot read data from the NFC tag. Try another one?");
    });

    ndef.addEventListener("reading", ({ message, serialNumber }) => {
      var url = new URL(new TextDecoder("utf-8").decode(message.records[0].data));
      var path = url.pathname + "?" + url.searchParams.toString() + "&output=json";
      var res = await fetch(path);

      document.getElementById("scanResult").innerText = JSON.stringify(await res.json());
    });
  } catch (error) {
    log("Argh! " + error);
  }
});
</script>
</body>
</html>
